# SPECTRUM KERNEL MANAGER
# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

#Spectrum Initialization
on property:sys.boot_completed=1
   # Enable Spectrum support
   setprop spectrum.support 1
   # Add kernel name
   setprop persist.spectrum.kernel Aex

# Balance (default profile)
on property:persist.spectrum.profile=0

    # Set Balance power settings
    write /sys/devices/system/cpu/cpu3/online 1
    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"

    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 940800
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 556800

    # Set normal thermal restrictions
    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 40 38"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 41 40"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 42 41"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 43 42"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 44 43"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 46 44"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 48 46"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 53 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 65 60"
    write /sys/kernel/msm_thermal/sampling_ms 5000
    write /sys/kernel/msm_thermal/enabled 1
    start perfd
    start thermal-engine
    trigger enable-low-power

# Performance
on property:persist.spectrum.profile=1

     # Set high performance settings

    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 940800
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 556800

    write /sys/class/devfreq/soc:qcom,cpubw/governor "performance"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "performance"

    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1708800 45 43"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 49 47"
    write /sys/kernel/msm_thermal/zone2 "1228800 1401600 52 49"
    write /sys/kernel/msm_thermal/zone3 "960000 940800 54 48"
    write /sys/kernel/msm_thermal/sampling_ms 8000
    write /sys/kernel/msm_thermal/enabled 1
    start perfd
    stop thermal-engine
    trigger enable-low-power

# Battery
on property:persist.spectrum.profile=2

    # Set low-power performance settings
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 480000
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 480000

    write /sys/class/devfreq/soc:qcom,cpubw/governor "powersave"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor  "powersave"

    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 40 38"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 41 40"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 42 41"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 43 42"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 44 43"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 46 44"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 48 46"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 53 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 65 60"
    write /sys/kernel/msm_thermal/sampling_ms 5000
    write /sys/kernel/msm_thermal/enabled 1

    start perfd
    start thermal-engine
    trigger enable-low-power

	# Gaming
on property:persist.spectrum.profile=3
    # Add configs here
     # Set high performance settings

    write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 940800
    write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 556800

    write /sys/class/devfreq/soc:qcom,cpubw/governor "bw_hwmon"
    write /sys/class/kgsl/kgsl-3d0/devfreq/governor "msm-adreno-tz"
    stop thermal-engine

    write /sys/kernel/msm_thermal/enabled 0
    write /sys/kernel/msm_thermal/zone0 "1401600 1785600 46 41"
    write /sys/kernel/msm_thermal/zone1 "1324800 1555200 47 46"
    write /sys/kernel/msm_thermal/zone2 "1228800 1478400 48 47"
    write /sys/kernel/msm_thermal/zone3 "1228800 1401600 49 48"
    write /sys/kernel/msm_thermal/zone4 "1190400 1324800 50 49"
    write /sys/kernel/msm_thermal/zone5 "1190400 1248000 52 50"
    write /sys/kernel/msm_thermal/zone6 "1113600 1190400 54 52"
    write /sys/kernel/msm_thermal/zone7 "1036800 940800 59 50"
    write /sys/kernel/msm_thermal/zone8 "729600 729600 70 65"
    write /sys/kernel/msm_thermal/sampling_ms 1000
    write /sys/kernel/msm_thermal/enabled 1
    start perfd
    trigger enable-low-power
