on init
    export TERMINFO /system/etc/terminfo
    export TERM linux
	
on post-fs-data
	
    # create QDMA dropbox
    mkdir /data/vendor/qdmastats 0700 system system
    mkdir /data/vendor/qdma 0770 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system

    # Create directory for apps access via QTEEConnector
    mkdir /data/vendor/qtee 0770 system system

    mkdir /data/media 0770 media_rw media_rw
    chown media_rw media_rw /data/media

    # legacy
    mkdir /data/audio/ 0770 media audio
    mkdir /data/misc/audio 0770 audio audio

    # Create directories for Fingerprint
    mkdir /data/fpc_images 0770 system system
    mkdir /data/fpc_images/verify 0770 system system
    mkdir /data/fpc_images/enroll 0770 system system
    mkdir /data/fpc 0770 system system

    # Create directories for Fingerprint
    mkdir /data/vendor/misc/qti_fp 0770 system system
    mkdir /data/vendor/misc/qti_fp/bg_estimation 0770 system system
    mkdir /data/vendor/misc/qti_fp/calib_test 0770 system system
    mkdir /data/vendor/misc/qti_fp/database 0770 system system
	
    # Create the directories used by the audio subsystem
    mkdir /data/vendor/audio/acdbdata 0770 media audio
    mkdir /data/vendor/audio/acdbdata/delta 0770 media audio
	
    # legacy
    mkdir /data/audio/acdbdata 0770 media audio
    mkdir /data/audio/acdbdata/delta 0770 media audio

    # Sensors
    mkdir /data/misc/sensors
    chmod 0775 /data/misc/sensors
    chmod 0775 /persist/sensors
    chmod 0664 /persist/sensors/sensors_settings
    chmod 0664 /persist/sensors/gyro_sensitity_cal
    chown system root /persist/sensors/sensors_settings
    chown system root /persist/sensors/gyro_sensitity_cal

    # Time services
    mkdir /data/vendor/time 0775 system system
	
	
on boot

   # change for usb typec headset prop
    chown media media /sys/module/snd_soc_msm8996/parameters/usb_typec_swap
    chown media media /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic
    chown media media /sys/devices/virtual/typec/typec_device/supported_dev
    chown media media /sys/module/cyccg/parameters/typec_headset_with_analog

    # Torch
    chown system system /sys/class/leds/torch-light0/brightness
    chown system system /sys/class/leds/torch-light1/brightness
    chmod 0666 /sys/class/leds/torch-light0/brightness
    chmod 0666 /sys/class/leds/torch-light1/brightness

    # Camera Flash/Torch control
    chown system system /sys/devices/soc/soc:qcom,camera-flash/flashled1
    chown system system /sys/devices/soc/soc:qcom,camera-flash/flashled2

    chmod 0666 /sys/devices/soc/soc:qcom,camera-flash/flashled1
    chmod 0666 /sys/devices/soc/soc:qcom,camera-flash/flashled2


    chown system system /sys/devices/platform/kcal_ctrl.0/kcal
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_min
    chown system system /sys/devices/platform/kcal_ctrl.0/kcal_val
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_enable
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_cont
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_sat
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_hue
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_min
    chmod 0660 /sys/devices/platform/kcal_ctrl.0/kcal_val


# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd

on property:service.adb.tcp.port=-1
    stop adbd
    start adbd


# autofocus fix
on property:persist.camera.focus_fix=1
    write /sys/module/msm_actuator/parameters/use_focus_fix 1

on property:persist.camera.focus_fix=0
    write /sys/module/msm_actuator/parameters/use_focus_fix 0


on property:persist.sys.le_fast_chrg_enable=1
    write /sys/class/power_supply/le_ab/le_quick_charge_mode 0

on property:persist.sys.le_fast_chrg_enable=0
    write /sys/class/power_supply/le_ab/le_quick_charge_mode 1
	
service profile-sh /vendor/bin/init.profile.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

service cdla-sh /vendor/bin/init.cdla.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

service cdlapref-sh /vendor/bin/init.cdlapref.sh
    class late_start
    user root
    group root system wakelock graphics
    disabled
    oneshot

on property:sys.boot_completed=1
    write /dev/kmsg "Boot completed"
    # CPE fw_name used by sound trigger HAL
    chown media audio /sys/kernel/wcd_cpe0/fw_name
    # Enable hvdcp
    setprop persist.hvdcp.allow_opti 1

on property:persist.cdla_enable=1
    write /sys/module/cyccg/parameters/typec_headset_with_analog 0
    write /sys/module/snd_soc_msm8996/parameters/usb_typec_swap	0
    write /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic 0	

on property:persist.cdla_enable=0
    write /sys/module/cyccg/parameters/typec_headset_with_analog 1
    write /sys/module/snd_soc_msm8996/parameters/usb_typec_swap	1
    write /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic 1

on property:cdla.power.profile=1
    write /sys/module/cyccg/parameters/typec_headset_with_analog 1
    write /sys/module/snd_soc_msm8996/parameters/usb_typec_swap 1
    write /sys/module/snd_soc_wcd_mbhc/parameters/headset_swap_backmic 0

on property:cdla.power.profile=0
   start cdla-sh

on property:cdla.preference.profile=1
   start cdlapref-sh

on charger
    start hvdcp_opti
